
  
html{
  background-color: purple;
}

.container-fluid{
  background-color: purple;
}
.list{
  background-color: yellow;
}
input[type="text"]{
  background: transparent;
  color:white;
}

input[type="text"]:focus{
  background: transparent;
  color:white;
}